# This is to be used together with .cargo/config.toml.example - more info there.

[toolchain]
# We don't use any nightly features, this is only for -Zshare-generics,
# so there's no need to request a specific nightly - anything reasonably recent will do.
channel = "nightly"
targets = ["wasm32-unknown-unknown"]
